body {
  background: #00b7ff;
}

#color-picker{
  width: 500px;
}

h1, h2, .dataCadastro{ 
  color: white;
  text-shadow: 
               -2px -2px 1px #053a7a, 
               -2px 2px 1px #053a7a,                    
                2px -2px 1px #053a7a,                  
                2px 1px 1px #053a7a;
  text-align: center;
  font-size: 40px;
}

.trocaCor{
  border: none;
  padding: 0;
}

.ajustar{
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
}

.navItems{
  color: aliceblue;
}

 .imagensDestaque{
   width: 300px;
   height: 300px;
   margin-bottom: 0%;
   display: flex;
   left: 50%;
   margin: auto;
   border-radius: 10px;
   
}
.imagensDestaque:hover{
  transform: scale(0.9);
  cursor: pointer;
}

.tituloDestaque{
  color: white;
  text-shadow: 
               -2px -2px 1px #053a7a, 
               -2px 2px 1px #053a7a,                    
               2px -2px 1px #053a7a,                  
               2px 1px 1px #053a7a;
  text-align: center;  
  font-size: 30px;           
}

.dataCadastro{
  font-size: 15px;
}

.cardProduto{
  width: 400px;
  height: 500px;
  background-color: rgb(2, 22, 41);
  border-radius: 10px;
  overflow: auto;
  flex-direction: row;
  margin-bottom: 5%;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: -2px -2px 1px #053a7a, 
              -2px 2px 1px #053a7a,                    
               2px -2px 1px #053a7a,                  
               17px 10px 1px #053a7a;      
                                  
}

div::-webkit-scrollbar {
  width: 10px;
}

.descricao{
  color: rgb(199, 10, 10);
  margin: 6% 0% 0% 13%;
  overflow-wrap: break-word;
}

.preco{
  color: white;
  font-size: 20px;
  margin: 6% 0% 0% 40%;
  
}

.lista{
  margin-top: 5%;
}